
body {
    margin: 0;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.gap-1 {
    gap: 1rem;
}

.gap-3 {
    gap: 3rem;
}

.row {
    display: flex;
}

.row .column {
    flex: 1;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-1 {
    flex: 1;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-around {
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #1f2937;
}

.dark-bg img {
    width: 100%;
}

header {
    color: #fff;
}

header ul {
    display: flex;
}

header li {
    padding: 0 1rem;
    list-style-type: none;
    color: #fff;
}

.btn-blue {
    background-color: #3b82f6;

}

.dark-bg {
    background-color: #1f2937;
    color: #fff;
    padding: 3rem;
}

.gray-bg {
    background-color: #e5e5e5;
    color: #444;
    font-size: 2rem;
    padding: 0 3rem;
}

.blue-bg {
    background-color: #3b82f6;
    color: #fff;
    padding: 3rem;
}

.white-bg {
    background-color: #fff;
    padding: 3rem;
    height: 300px;
    margin-bottom: 3rem;;
}

.white-bg .row {
    padding: 0 5rem;
}


.box-border-blue {
    border: 3px solid blue;
    border-radius: 8px;
    height: 250px;
    width: auto;
}

footer {
    background-color: #1f2937;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}